<?php
defined('ZEND_DB_ADAPTER_PDO_DRIVER') || define('ZEND_DB_ADAPTER_PDO_DRIVER', 'mysql');

defined('ZEND_DB_ADAPTER_DRIVER_MYSQL_HOSTNAME') || define('ZEND_DB_ADAPTER_DRIVER_MYSQL_HOSTNAME', '127.0.0.1');
defined('ZEND_DB_ADAPTER_DRIVER_MYSQL_USERNAME') || define('ZEND_DB_ADAPTER_DRIVER_MYSQL_USERNAME', 'root');
defined('ZEND_DB_ADAPTER_DRIVER_MYSQL_PASSWORD') || define('ZEND_DB_ADAPTER_DRIVER_MYSQL_PASSWORD', '');
defined('ZEND_DB_ADAPTER_DRIVER_MYSQL_DATABASE') || define('ZEND_DB_ADAPTER_DRIVER_MYSQL_DATABASE', 'zfqueue');

defined('ZEND_DB_ADAPTER_DRIVER_PGSQL_HOSTNAME')  || define('ZEND_DB_ADAPTER_DRIVER_PGSQL_HOSTNAME', '127.0.0.1');
defined('ZEND_DB_ADAPTER_DRIVER_PGSQL_USERNAME') || define('ZEND_DB_ADAPTER_DRIVER_PGSQL_USERNAME', 'root');
defined('ZEND_DB_ADAPTER_DRIVER_PGSQL_PASSWORD') || define('ZEND_DB_ADAPTER_DRIVER_PGSQL_PASSWORD', '');
defined('ZEND_DB_ADAPTER_DRIVER_PGSQL_DATABASE') || define('ZEND_DB_ADAPTER_DRIVER_PGSQL_DATABASE', 'zfqueue');

defined('ZEND_DB_ADAPTER_DRIVER_SQLITE_DBPATH') || define('ZEND_DB_ADAPTER_DRIVER_SQLITE_DBPATH', 'build/zfqueue.db');

defined('ZEND_DB_ADAPTER_DRIVER_SQLSRV_SERVER') || define('ZEND_DB_ADAPTER_DRIVER_SQLSRV_SERVER', 'localhost');
defined('ZEND_DB_ADAPTER_DRIVER_SQLSRV_PORT') || define('ZEND_DB_ADAPTER_DRIVER_SQLSRV_PORT', '1433');
defined('ZEND_DB_ADAPTER_DRIVER_SQLSRV_DATABASE') || define('ZEND_DB_ADAPTER_DRIVER_SQLSRV_DATABASE', 'zfqueue');
defined('ZEND_DB_ADAPTER_DRIVER_SQLSRV_USERNAME') || define('ZEND_DB_ADAPTER_DRIVER_SQLSRV_USERNAME', 'UserName');
defined('ZEND_DB_ADAPTER_DRIVER_SQLSRV_PASSWORD') || define('ZEND_DB_ADAPTER_DRIVER_SQLSRV_PASSWORD', 'Password');
