<?php
defined('ZEND_DB_ADAPTER_PDO_DRIVER') || define('ZEND_DB_ADAPTER_PDO_DRIVER', 'mysql');

defined('ZEND_DB_ADAPTER_DRIVER_MYSQL_HOSTNAME') || define('ZEND_DB_ADAPTER_DRIVER_MYSQL_HOSTNAME', '127.0.0.1');
defined('ZEND_DB_ADAPTER_DRIVER_MYSQL_USERNAME') || define('ZEND_DB_ADAPTER_DRIVER_MYSQL_USERNAME', 'root');
defined('ZEND_DB_ADAPTER_DRIVER_MYSQL_PASSWORD') || define('ZEND_DB_ADAPTER_DRIVER_MYSQL_PASSWORD', '');
defined('ZEND_DB_ADAPTER_DRIVER_MYSQL_DATABASE') || define('ZEND_DB_ADAPTER_DRIVER_MYSQL_DATABASE', 'squeue');

defined('ZEND_DB_ADAPTER_DRIVER_PGSQL_HOSTNAME')  || define('ZEND_DB_ADAPTER_DRIVER_PGSQL_HOSTNAME', '127.0.0.1');
defined('ZEND_DB_ADAPTER_DRIVER_PGSQL_USERNAME') || define('ZEND_DB_ADAPTER_DRIVER_PGSQL_USERNAME', 'root');
defined('ZEND_DB_ADAPTER_DRIVER_PGSQL_PASSWORD') || define('ZEND_DB_ADAPTER_DRIVER_PGSQL_PASSWORD', '');
defined('ZEND_DB_ADAPTER_DRIVER_PGSQL_DATABASE') || define('ZEND_DB_ADAPTER_DRIVER_PGSQL_DATABASE', 'squeue');

defined('ZEND_DB_ADAPTER_DRIVER_SQLITE_DBPATH') || define('ZEND_DB_ADAPTER_DRIVER_SQLITE_DBPATH', 'build/squeue.db');

defined('ZEND_DB_ADAPTER_DRIVER_SQLSRV_SERVER') || define('ZEND_DB_ADAPTER_DRIVER_SQLSRV_SERVER', '(local)\sqlexpress');
defined('ZEND_DB_ADAPTER_DRIVER_SQLSRV_DATABASE') || define('ZEND_DB_ADAPTER_DRIVER_SQLSRV_DATABASE', 'squeue');
defined('ZEND_DB_ADAPTER_DRIVER_SQLSRV_USERNAME') || define('ZEND_DB_ADAPTER_DRIVER_SQLSRV_USERNAME', '');
defined('ZEND_DB_ADAPTER_DRIVER_SQLSRV_PASSWORD') || define('ZEND_DB_ADAPTER_DRIVER_SQLSRV_PASSWORD', '');
